@import "../mixins/media";

/*
店舗詳細

店舗詳細ページに関する Project コンポーネントを定義します。
*/

.ec-shopRole {
  @include container;
  & &__contentColumn {
    padding: 10px 0;
    display: flex;
    align-items:center;
  }
  & &__img {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    padding-right: 10px;
    @include media_desktop {
      display: inline-block;
      min-width: 80px;
      max-width: 100px;
    }
  }
  & &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & &__contentTitle {
    padding: 10px 0;
    font-weight: 700;
  }
}

