<div class="ec-subHeaderRole">
    <ul class="ec-subHeaderRole__subHeaderlist">
        <li class="ec-subHeaderRole__item">
            <a href="{{ path('product_list')  }}">{{ 'front.move.to.product.list'|trans }}</a>
        </li>
        <li class="ec-subHeaderRole__item">
            <a href="{{ path('company_list') }}">{{ 'front.move.to.company.list'|trans }}</a>
        </li>
    </ul>
</div>
